# Naive Bayes Algorithm

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv('weight-height.csv')

In [5]:
df

      Cinsiyet       Kilo         Boy
0            1  73.847017  241.893563
1            1  68.781904  162.310473
2            1  74.110105  212.740856
3            1  71.730978  220.042470
4            1  69.881796  206.349801
...        ...        ...         ...
9995         0  66.172652  136.777454
9996         0  67.067155  170.867906
9997         0  63.867992  128.475319
9998         0  69.034243  163.852461
9999         0  61.944246  113.649103

[10000 rows x 3 columns]